.form {
  padding-bottom: 120px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;
  border: none;
}

.form__label {
  align-items: center;
  display: flex;
  gap: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label:last-child {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.form__input {
  border: #838383 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 20px;
  width: 100%;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  border: none;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  cursor: pointer;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 32px;
  height: 60px;
  width: 100%;
  max-width: 385px;
  transition: opacity 0.3s ease;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  cursor: pointer;
}
