.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  top: 30px;
  right: 80px;
  padding-left: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  margin-top: 8px;
}

.nav__link:hover {
  color: #2f80ed;
}
